h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.2em;
  font-size: 40px;
  text-align: center;
}
caption { caption-side: left; } /*o lo que te acomode */
.footer{
  font-size: 15px;
  text-align: center;
  bottom:0;
}
/*.footer{
font-family: 'Anton', sans-serif;
    font-size: 15px;
    background-color: #fff;
    bottom:0;
    position:fixed;
    text-align: center
}
.footer-divider {
  margin: 5rem 0 2rem 0; /* Space out the Bootstrap <hr> more */
/*}
footer p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}*/

